        body {
            margin: 0;
            padding: 0;
        }
        
        @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
        h1 {
            font-family: Shrikhand, "cursive";
        }
        
        $color-primary :#9356DC;
        $color-second:#FF79DA;
        $color-tertiaire:#99E2D0;
        $white-color:#FFFFFF;
        $bg-search:#EAEAEA;
        $bg-corp:#F6F6F6;
        $bg-footer:#353535;
        $color-black:black;
        $box-shadow-head:0 -0.188rem 0.188rem rgb(0 0 0 / 25%);
        $box-shadow-carte :0 5px 10px 0 rgb(0 0 0 / 15%);
        @mixin centrer-et-mettre-en-colone {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        
        @mixin enlv-deco-a {
            text-decoration: none;
        }
        
        @mixin centrer-uniqmnt {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        @mixin decalementhautbas {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        
        @mixin border-radius-carte {
            border-radius: 1rem;
        }
        
        @mixin border-radius-img {
            border-top-right-radius: 1rem;
            border-top-left-radius: 1rem;
        }
        
        @mixin text-deco-and-col-blck-fs {
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
        }
        
        @mixin sup-deco {
            text-decoration: none;
        }
        
        .heading {
            display: flex;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 0.5fr;
            grid-template-areas: "logo";
            box-shadow: $box-shadow-head;
            &__logo {
                grid-area: logo;
                @include centrer-uniqmnt;
                margin-top: 1.5rem;
                margin-bottom: 1rem;
            }
            &__retour {
                color: black;
                font-size: 1.3rem;
                margin-top: -3rem;
                display: block;
                width: 1.5rem;
                height: 1.5rem;
                margin-left: 2rem;
            }
        }
        
        .bloc-photo {
            box-shadow: $box-shadow-head;
            padding-top: 0.5rem;
            @include centrer-uniqmnt;
            background: $bg-corp;
            &__img {
                border-radius: 1rem;
                width: 80%;
                height: 35rem;
                object-fit: cover;
            }
        }
        
        .principale {
            background: $bg-corp;
            &__cntnr-titre-coeur {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-left: 1.5rem;
                &__coeur-vide {
                    font-size: 1.5rem;
                    margin-right: 2rem;
                    position: absolute;
                    right: 0;
                    opacity: 1;
                }
                &__coeur-filled {
                    cursor: pointer;
                    font-size: 1.5rem;
                    margin-right: 2rem;
                    background: linear-gradient( 228deg, $color-primary, $color-second);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transform: scale(1);
                    opacity: 0;
                    font-size: 1.5rem;
                    transition: all 1s;
                    &:hover {
                        opacity: 1;
                        transform: scale(1.15);
                    }
                }
            }
            &__entree {
                margin-left: 1.5rem;
            }
            &__trait {
                margin-left: 0rem;
                margin-top: 0.2rem;
                width: 2.4rem;
                border: $color-tertiaire 2px solid;
                background: $color-tertiaire;
            }
            &__blocparent {
                @include centrer-et-mettre-en-colone;
                padding: 1rem;
                &__menu {
                    display: flex;
                    position: relative;
                    overflow: hidden;
                    flex-direction: column;
                    width: 100%;
                    background: $white-color;
                    border-radius: 0.75rem;
                    margin-bottom: 1rem;
                    box-shadow: $box-shadow-carte;
                    animation: apparition 1.2s ease-out both;
                    &--menu1 {
                        animation-delay: .16s;
                    }
                    &--menu2 {
                        animation-delay: .33s;
                    }
                    &--menu3 {
                        animation-delay: .5s;
                    }
                    &--menu4 {
                        animation-delay: 0.6s;
                    }
                    &--menu5 {
                        animation-delay: 0.8s;
                    }
                    &--menu6 {
                        animation-delay: 1s;
                    }
                    &--menu7 {
                        animation-delay: 1.16s;
                    }
                    &--menu8 {
                        animation-delay: 1.33s;
                    }
                    &--menu9 {
                        animation-delay: 1.5s;
                    }
                    @keyframes apparition {
                        0% {
                            transform: translateY(-50%);
                            opacity: 0;
                        }
                        100% {
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }
                    &:hover &__cntneur-plat-ing-prix {
                        width: 80%;
                        cursor: pointer;
                    }
                    &:hover &__bg {
                        left: 80%;
                        &__cercle {
                            transform: rotate( 180deg);
                        }
                    }
                    &__cntneur-plat-ing-prix {
                        width: 100%;
                        transition: width 1s;
                        &__plat {
                            margin: 0.5rem;
                        }
                        &__cntner-ing-prix {
                            display: flex;
                            margin-left: 0.5rem;
                            justify-content: space-between;
                            margin-top: -1rem;
                            &__ings {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            &__prix {
                                margin-right: 1rem;
                                font-weight: 600;
                            }
                        }
                    }
                    &__bg {
                        background: $color-tertiaire;
                        @include centrer-uniqmnt;
                        position: absolute;
                        height: 100%;
                        width: 20%;
                        left: 100%;
                        transition: left 1s;
                        border-radius: 0 0.75rem 0.75rem 0;
                        &__cercle {
                            color: $white-color;
                            font-size: 1.5rem;
                            transition: transform 1s cubic-bezier(0, 1.13, 0.08, 1.17);
                        }
                    }
                }
            }
            &__bouton2 {
                @include centrer-uniqmnt;
                &__btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $white-color;
                    width: 13.75rem;
                    height: 3.125rem;
                    border-radius: 1.875rem;
                    border: none;
                    background: linear-gradient( 175deg, $color-second 10%, $color-primary 95%);
                    margin-bottom: 4rem;
                    margin-top: 2rem;
                    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 30%);
                    transition: all 150ms;
                    &:active {
                        transform: scale(0.95);
                        box-shadow: 0 10px 20px 0 rgb(0 0 0 / 32%);
                    }
                }
            }
        }
        
        .foot {
            display: grid;
            background: $bg-footer;
            grid-template-columns: 1fr 1fr 1.5fr 1fr;
            grid-template-areas: ". . logo logo" "liste liste liste liste";
            &__logo {
                grid-area: logo;
                height: 10rem;
            }
            &__conteneuraetspan {
                grid-area: liste;
                display: flex;
                justify-content: space-around;
                margin-top: -1rem;
                padding-bottom: 3rem;
                &__span {
                    color: white;
                }
                &__lien {
                    color: white;
                    text-decoration: none;
                    &--modifier {
                        margin-left: 0.5rem;
                    }
                }
            }
        }
        
        @media all and (max-width:600px) {
            .bloc-photo {
                box-shadow: inherit;
                padding: 0;
                &__img {
                    border-radius: inherit;
                    width: 100%;
                    height: 15rem;
                    object-fit: cover;
                }
            }
            .principale {
                margin-top: -2rem;
                position: relative;
                border-top-left-radius: 2rem;
                border-top-right-radius: 2rem;
            }
            .foot {
                display: grid;
                background: $bg-footer;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                grid-template-areas: "logo" "liste";
                &__logo {
                    grid-area: logo;
                    height: 9rem;
                    margin-top: -1rem;
                    margin-left: 1.5rem;
                }
                &__conteneuraetspan {
                    grid-area: liste;
                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;
                    margin-top: -1.5rem;
                    margin-left: 1.5rem;
                    padding-bottom: 3rem;
                    &__icone-a {
                        margin-bottom: 1rem;
                        font-weight: bold;
                    }
                    &__span {
                        margin-bottom: 1rem;
                        color: $white-color;
                    }
                    &__lien {
                        color: $white-color;
                        text-decoration: none;
                        margin-bottom: 1rem;
                        &--modifier {
                            margin-left: 0.5rem;
                        }
                    }
                }
            }
        }
        
        @media all and (max-width:340px) {
            .principale {
                &__cntnr-titre-coeur {
                    margin-left: 0;
                    font-size: 0.7rem;
                    &__coeur-vide {
                        font-size: 1.5rem;
                        margin-right: 0;
                    }
                    &__coeur-filled {
                        font-size: 1.5rem;
                        margin-right: 0;
                    }
                }
            }
        }