@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: roboto, sans serif;
}

.loader {
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  -webkit-animation: loader 3s ease-in-out normal forwards;
          animation: loader 3s ease-in-out normal forwards;
}
@-webkit-keyframes loader {
  to {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes loader {
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.loader__conteneur {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader__conteneur > span {
  display: inline-block;
  width: 0;
  height: 0;
  border-radius: 1rem;
  background: #9356DC;
  margin-top: -6rem;
  margin-right: 1rem;
  transform: translate3d(0);
  -webkit-animation: bond 0.6s infinite alternate;
          animation: bond 0.6s infinite alternate;
}
.loader__conteneur > span:nth-child(2) {
  background: #FF79DA;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loader__conteneur > span:nth-child(3) {
  background: #99E2D0;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
@-webkit-keyframes bond {
  to {
    width: 1rem;
    height: 1rem;
    transform: translate3d(0, -1rem, 0);
  }
}
@keyframes bond {
  to {
    width: 1rem;
    height: 1rem;
    transform: translate3d(0, -1rem, 0);
  }
}

.heading {
  display: grid;
  padding-bottom: 2rem;
  grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr;
  grid-template-areas: ". logo search .";
}
.heading__retour {
  display: none;
}
.heading__logo {
  grid-area: logo;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.heading__search {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: search;
  background: #EAEAEA;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.heading__search__map {
  display: block;
  color: black;
  height: 3rem;
  line-height: 3;
  text-decoration: none;
}
.heading__search ::-moz-placeholder {
  color: black;
  font-size: 1.13rem;
}
.heading__search :-ms-input-placeholder {
  color: black;
  font-size: 1.13rem;
}
.heading__search ::placeholder {
  color: black;
  font-size: 1.13rem;
}
.heading__search input[type=text] {
  border: none;
  outline: none;
  font-size: 1.13rem;
  padding-left: 1rem;
  height: 92%;
  width: 50%;
  background: #EAEAEA;
}

.foot {
  display: grid;
  background: #353535;
  grid-template-columns: 1fr 1fr 1.5fr 1fr;
  grid-template-areas: ". . logo logo" "liste liste liste liste";
}
.foot__logo {
  grid-area: logo;
  height: 10rem;
}
.foot__conteneuraetspan {
  grid-area: liste;
  display: flex;
  justify-content: space-around;
  margin-top: -1rem;
  padding-bottom: 3rem;
}
.foot__conteneuraetspan__span {
  color: white;
}
.foot__conteneuraetspan__lien {
  color: white;
  text-decoration: none;
}
.foot__conteneuraetspan__lien--modifier {
  margin-left: 0.5rem;
}

.principale {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "section1 section2";
  border-bottom: 3px solid #9356DC;
  background: #F6F6F6;
  box-shadow: 0px 3px 3px #73737338 inset;
}
.principale__section1 {
  grid-area: section1;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.principale__section1__bouton {
  margin-top: 2rem;
  cursor: pointer;
  width: 13rem;
  border-radius: 2rem;
  border: none;
  height: 3rem;
  color: #FFFFFF;
  font-size: 1rem;
  background: linear-gradient(349deg, #9356DC, #FF79DA);
  transform: scale(1);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.principale__section1__bouton:hover {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.15);
  transition: box-shadow 150ms linear, transform 150ms;
}
.principale__section2 {
  grid-area: section2;
  padding: 2rem;
  box-shadow: -3px 0px 1px black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.principale__section2__conteneur-chifretexte {
  display: flex;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.3);
  background: #FFFFFF;
  border-radius: 2rem;
  min-width: 100%;
  height: 5rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
.principale__section2__conteneur-chifretexte__item {
  margin-top: 1.6rem;
  font-size: 1.5rem;
  margin-left: 1rem;
  color: gray;
}
.principale__section2__conteneur-chifretexte__item--chiffre {
  background: #9356DC;
  text-align: center;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  line-height: 1.4;
  margin-left: -1rem;
  color: #FFFFFF;
}
.principale__section2__conteneur-chifretexte__item--texte {
  margin-left: 0.5rem;
  color: black;
}
.principale__section2__conteneur-chifretexte__item--store {
  color: #9356DC;
}

.section-photo {
  max-width: 960px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #FFFFFF;
}
.section-photo__titre {
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  background: #F6F6F6;
}
.section-photo__bloca {
  display: block;
  display: flex;
  flex-direction: column;
  width: 40%;
  background: #FFFFFF;
  margin: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.3);
  position: relative;
}
.section-photo__bloca > img {
  width: 100%;
  height: 15rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.section-photo__bloca__conteneur-textecoeur {
  margin-left: 1rem;
  display: flex;
  position: relative;
}
.section-photo__bloca__conteneur-textecoeur__coeur-vide {
  position: absolute;
  top: 0;
  right: 1.2rem;
  opacity: 1;
  font-size: 24px;
}
.section-photo__bloca__conteneur-textecoeur__coeur-filled {
  position: absolute;
  top: 0;
  right: 1.2rem;
  background: linear-gradient(228deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1);
  opacity: 0;
  font-size: 24px;
  transition: all 1s;
}
.section-photo__bloca__conteneur-textecoeur__coeur-filled:hover {
  opacity: 1;
  transform: scale(1.15);
}
.section-photo__bloca__conteneur-textecoeur__slide {
  background: #99E2D0;
  font-size: 0.85rem;
  font-weight: 500;
  border-radius: 0.188rem;
  width: 5rem;
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 1rem;
  color: #278870;
  -webkit-animation: slide 280ms 0s alternate infinite;
          animation: slide 280ms 0s alternate infinite;
}
@-webkit-keyframes slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media all and (max-width: 900px) {
  .heading {
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo search";
  }
}
@media all and (max-width: 780px) {
  .principale {
    display: grid;
  }
  .principale__section2 {
    padding: 1rem;
  }
  .principale__section2__conteneur-chifretexte {
    width: 100%;
  }
}
@media all and (max-width: 600px) {
  .heading {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas: "logo" "search";
  }
  .heading__search {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -0.188rem 0.188rem rgba(0, 0, 0, 0.25);
  }
  .heading__search__map {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
  }
  .heading__search input[type=text] {
    width: 45%;
  }
  .heading__logo {
    grid-area: logo;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
  }

  .principale {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr;
    grid-template-areas: "section1" "section2";
    border-bottom: none;
    background: #F6F6F6;
  }
  .principale__section1 {
    grid-area: section1;
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .principale__section1__titre-reservez {
    font-size: 1.7rem;
  }
  .principale__section1 > p {
    padding: 1rem;
    font-size: 1rem;
    margin-top: -1.5rem;
  }
  .principale__section1__bouton {
    width: 13rem;
    border-radius: 2rem;
    border: none;
    height: 3rem;
    color: #FFFFFF;
    font-size: 1rem;
    background: linear-gradient(349deg, #9356DC, #FF79DA);
  }
  .principale__section1__bouton:hover {
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 150ms linear;
  }
  .principale__section2 {
    background: #FFFFFF;
    grid-area: section2;
    padding: 1rem;
    box-shadow: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.5rem;
  }
  .principale__section2__titre-foncmnt {
    margin-left: -8.5rem;
    margin-top: 2.5rem;
    font-size: 1.7rem;
  }
  .principale__section2__conteneur-chifretexte {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: none;
    background: #F6F6F6;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.3);
    border-radius: 1.5rem;
    width: 100%;
    margin-left: 0.8rem;
  }
  .principale__section2__conteneur-chifretexte > span {
    margin-left: 1rem;
    margin-top: 2.3rem;
  }
  .principale__section2__conteneur-chifretexte__item {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .principale__section2__conteneur-chifretexte__item--chiffre {
    background: #9356DC;
    text-align: center;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    margin-left: -0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 2.2rem;
  }
  .principale__section2__conteneur-chifretexte__item--texte {
    font-weight: bold;
    margin-left: 1.5rem;
    margin-top: 2.3rem;
  }
  .principale__section2__conteneur-chifretexte__item--store {
    color: #9356DC;
  }

  .section-photo {
    max-width: 960px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background: #F6F6F6;
  }
  .section-photo__titre {
    width: 50%;
    text-align: inherit;
    padding: 0;
    font-weight: bold;
    margin-top: 3.5rem;
    margin-left: -9.5rem;
  }
  .section-photo__bloca {
    display: block;
    display: flex;
    flex-direction: column;
    width: 90%;
    position: relative;
  }
  .section-photo__bloca > img {
    width: 100%;
    height: 10rem;
    -o-object-fit: cover;
       object-fit: cover;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }
  .section-photo__bloca__conteneur-textecoeur {
    display: flex;
    justify-content: space-between;
  }
  .section-photo__bloca__conteneur-textecoeur__texte {
    color: #353535;
  }
  .section-photo__bloca__conteneur-textecoeur__texte > p {
    margin-top: -1.2rem;
  }
  .section-photo__bloca__conteneur-textecoeur__texte > h3 {
    color: black;
  }

  .foot {
    display: grid;
    background: #353535;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo" "liste";
  }
  .foot__logo {
    grid-area: logo;
    height: 9rem;
    margin-top: -1rem;
    margin-left: 1.5rem;
  }
  .foot__conteneuraetspan {
    grid-area: liste;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: -1.5rem;
    margin-left: 1.5rem;
    padding-bottom: 3rem;
  }
  .foot__conteneuraetspan__icone-a {
    margin-bottom: 1rem;
    font-weight: bold;
  }
  .foot__conteneuraetspan__span {
    margin-bottom: 1rem;
  }
  .foot__conteneuraetspan__lien {
    color: white;
    text-decoration: none;
    margin-bottom: 1rem;
  }
  .foot__conteneuraetspan__lien--modifier {
    margin-left: 0.5rem;
  }
}
@media all and (max-width: 360px) {
  .loader__img {
    opacity: 0;
  }

  .principale__section2__titre-foncmnt {
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-photo__titre {
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-photo__bloca__conteneur-textecoeur {
    width: 100%;
    margin-left: 0;
  }
  .section-photo__bloca__conteneur-textecoeur__texte > p {
    font-size: 1rem;
    margin-top: 0;
  }
  .section-photo__bloca__conteneur-textecoeur__texte > h3 {
    font-size: 1rem;
  }
}
@media all and (max-width: 360px) {
  .heading__logo {
    justify-content: inherit;
  }
  .heading__logo > img {
    width: 100%;
  }
  .heading__search {
    justify-content: inherit;
  }

  .principale__section1 {
    justify-content: inherit;
    text-align: inherit;
  }
  .principale__section1__titre-reservez {
    transform: translateX(-3rem);
    display: flex;
    flex-wrap: wrap;
    width: 54%;
  }
  .principale__section1 > p {
    padding-left: 0;
    margin-left: -2rem;
    width: 76%;
    font-size: 1rem;
  }
  .principale__section1__bouton {
    width: 50%;
    transform: translateX(-3rem);
  }
  .principale__section2__titre-foncmnt {
    font-size: 1.1rem;
  }
  .principale__section2__conteneur-chifretexte {
    height: 15rem;
    flex-direction: column;
  }
  .principale__section2__conteneur-chifretexte > span {
    margin-top: -0.7rem;
    margin-left: -0.7rem;
  }
  .principale__section2__conteneur-chifretexte__item {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .principale__section2__conteneur-chifretexte__item--chiffre {
    margin-top: -0.8rem;
  }
  .principale__section2__conteneur-chifretexte__item--texte {
    font-weight: bold;
    margin-left: 1.5rem;
    margin-top: 2.3rem;
  }
  .principale__section2__conteneur-chifretexte__item--store {
    color: #9356DC;
  }
}
@media all and (max-width: 220px) {
  .principale__section1__titre-reservez {
    transform: translateX(-2rem);
    width: 40%;
  }
  .principale__section1 > p {
    margin-left: -3.5rem;
    width: 46%;
    font-size: 0.7rem;
  }
  .principale__section1__bouton {
    width: 70%;
    transform: translateX(-1.5rem);
    height: 5rem;
  }
  .principale__section2 {
    padding: 0;
  }
  .principale__section2__titre-foncmnt {
    margin-left: -1rem;
  }
  .principale__section2__conteneur-chifretexte {
    height: 10rem;
    margin-left: -1rem;
  }
  .principale__section2__conteneur-chifretexte__item {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .principale__section2__conteneur-chifretexte__item--chiffre {
    margin-top: -0.8rem;
  }
  .principale__section2__conteneur-chifretexte__item--texte {
    margin-top: 2.3rem;
  }
  .principale__section2__conteneur-chifretexte__item--store {
    color: #9356DC;
  }

  .section-photo__titre {
    margin-left: -1rem;
  }
  .section-photo__bloca {
    width: 80%;
  }
  .section-photo__bloca__conteneur-textecoeur {
    width: 100%;
    justify-content: inherit;
    flex-direction: column;
  }
  .section-photo__bloca__conteneur-textecoeur__texte > p {
    font-size: 1rem;
    margin-top: 0;
  }
  .section-photo__bloca__conteneur-textecoeur__texte > h3 {
    font-size: 1rem;
  }

  .foot__logo {
    display: block;
    width: 100%;
    margin-left: 0;
  }
  .foot__conteneuraetspan {
    margin-left: 0.5rem;
  }
}/*# sourceMappingURL=main.css.map */