body {
    margin: 0;
    padding: 0;
}

$white-color:#FFFFFF;
$bg-search:#EAEAEA;
$bg-corp:#F6F6F6;
$bg-footer:#353535;
$box-shadow-head:0 -0.188rem 0.188rem rgb(0 0 0 / 25%);
@mixin centrer-et-mettre-en-colone {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@mixin enlv-deco-a {
    text-decoration: none;
}

@mixin centrer-uniqmnt {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin decalementhautbas {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.heading {
    display: flex;
    display: grid;
    padding-bottom: 2rem;
    grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr;
    grid-template-areas: ". logo search .";
    &__retour {
        display: none;
    }
    &__logo {
        grid-area: logo;
        @include decalementhautbas;
    }
    &__search {
        display: flex;
        grid-area: search;
        background: $bg-search;
        align-items: center;
        justify-content: center;
        @include decalementhautbas;
        &__map {
            display: block;
            height: 3rem;
            line-height: 3;
        }
         ::placeholder {
            color: black;
            font-size: 1.13rem;
        }
        input[type="text"] {
            border: none;
            outline: none;
            font-size: 1.13rem;
            // font-weight: bold;
            padding-left: 1rem;
            height: 92%;
            width: 50%;
            background: $bg-search;
        }
    }
}

.foot {
    display: grid;
    background: black;
    grid-template-columns: 1fr 1fr 1.5fr 1fr;
    grid-template-areas: ". . logo logo" "liste liste liste liste";
    color: green;
    &__logo {
        grid-area: logo;
        border: 1px solid green;
        height: 10rem;
    }
    &__conteneuraetspan {
        grid-area: liste;
        display: flex;
        justify-content: space-around;
        margin-top: -1rem;
        padding-bottom: 3rem;
        &__span {
            color: white;
        }
        &__lien {
            color: white;
            border: 1px solid blue;
            &--modifier {
                color: red;
                margin-left: 0.5rem;
            }
        }
    }
}

.principale {
    display: grid;
    background: $bg-corp;
    &__titre-foncmnt {
        background: $bg-search;
        text-align: center;
        margin-top: 0;
        padding: 0.5rem;
        box-shadow: $box-shadow-head;
    }
}

.partie-centrale {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "section1 section2";
    &__section1 {
        grid-area: section1;
        text-align: center;
    }
    &__section2 {
        grid-area: section2;
        display: flex;
        @include centrer-et-mettre-en-colone;
        &__conteneur-chifretexte {
            @include centrer-uniqmnt;
            border: 1px solid black;
            background: $white-color;
            border-radius: 2rem;
            width: 50%;
            height: 5rem;
            margin-top: 0.5rem;
            margin-bottom: 0.7rem;
        }
        &__conteneur-chifretexte:hover {
            background: chartreuse;
        }
    }
}