@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Shrikhand, "cursive";
}

.heading {
  display: flex;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 0.5fr;
  grid-template-areas: "logo";
  box-shadow: 0 -0.188rem 0.188rem rgba(0, 0, 0, 0.25);
}
.heading__logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.heading__retour {
  color: black;
  font-size: 1.3rem;
  margin-top: -3rem;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
}

.bloc-photo {
  box-shadow: 0 -0.188rem 0.188rem rgba(0, 0, 0, 0.25);
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F6F6F6;
}
.bloc-photo__img {
  border-radius: 1rem;
  width: 80%;
  height: 35rem;
  object-fit: cover;
}

.principale {
  background: #F6F6F6;
}
.principale__cntnr-titre-coeur {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1.5rem;
}
.principale__cntnr-titre-coeur__coeur-vide {
  font-size: 1.5rem;
  margin-right: 2rem;
  position: absolute;
  right: 0;
  opacity: 1;
}
.principale__cntnr-titre-coeur__coeur-filled {
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 2rem;
  background: linear-gradient(228deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  font-size: 1.5rem;
  transition: all 1s;
}
.principale__cntnr-titre-coeur__coeur-filled:hover {
  opacity: 1;
  transform: scale(1);
}
.principale__entree {
  margin-left: 1.5rem;
}
.principale__trait {
  margin-left: 0rem;
  margin-top: 0.2rem;
  width: 2.4rem;
  border: #99E2D0 2px solid;
  background: #99E2D0;
}
.principale__blocparent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.principale__blocparent__menu {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  background: #FFFFFF;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  animation: apparition 1.2s ease-out both;
}
.principale__blocparent__menu--menu1 {
  animation-delay: 0.16s;
}
.principale__blocparent__menu--menu2 {
  animation-delay: 0.33s;
}
.principale__blocparent__menu--menu3 {
  animation-delay: 0.5s;
}
.principale__blocparent__menu--menu4 {
  animation-delay: 0.6s;
}
.principale__blocparent__menu--menu5 {
  animation-delay: 0.8s;
}
.principale__blocparent__menu--menu6 {
  animation-delay: 1s;
}
.principale__blocparent__menu--menu7 {
  animation-delay: 1.16s;
}
.principale__blocparent__menu--menu8 {
  animation-delay: 1.33s;
}
.principale__blocparent__menu--menu9 {
  animation-delay: 1.5s;
}
@keyframes apparition {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.principale__blocparent__menu:hover .principale__blocparent__menu__cntneur-plat-ing-prix {
  width: 80%;
  cursor: pointer;
}
.principale__blocparent__menu:hover .principale__blocparent__menu__bg {
  left: 80%;
}
.principale__blocparent__menu:hover .principale__blocparent__menu__bg__cercle {
  transform: rotate(180deg);
}
.principale__blocparent__menu__cntneur-plat-ing-prix {
  width: 100%;
  transition: width 1s;
}
.principale__blocparent__menu__cntneur-plat-ing-prix__plat {
  margin: 0.5rem;
}
.principale__blocparent__menu__cntneur-plat-ing-prix__cntner-ing-prix {
  display: flex;
  margin-left: 0.5rem;
  justify-content: space-between;
  margin-top: -1rem;
}
.principale__blocparent__menu__cntneur-plat-ing-prix__cntner-ing-prix__ings {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.principale__blocparent__menu__cntneur-plat-ing-prix__cntner-ing-prix__prix {
  margin-right: 1rem;
  font-weight: 600;
}
.principale__blocparent__menu__bg {
  background: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 20%;
  left: 100%;
  transition: left 1s;
  border-radius: 0 0.75rem 0.75rem 0;
}
.principale__blocparent__menu__bg__cercle {
  color: #FFFFFF;
  font-size: 1.5rem;
  transition: transform 1s ease-in-out;
}
.principale__bouton2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.principale__bouton2__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  width: 13.75rem;
  height: 3.125rem;
  border-radius: 1.875rem;
  border: none;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
  margin-bottom: 4rem;
  margin-top: 2rem;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  transition: all 150ms;
}
.principale__bouton2__btn:active {
  transform: scale(0.95);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.32);
}

.foot {
  display: grid;
  background: #353535;
  grid-template-columns: 1fr 1fr 1.5fr 1fr;
  grid-template-areas: ". . logo logo" "liste liste liste liste";
}
.foot__logo {
  grid-area: logo;
  height: 10rem;
}
.foot__conteneuraetspan {
  grid-area: liste;
  display: flex;
  justify-content: space-around;
  margin-top: -1rem;
  padding-bottom: 3rem;
}
.foot__conteneuraetspan__icone-a > a:hover {
  color: #99E2D0;
}
.foot__conteneuraetspan > a:hover {
  color: #99E2D0;
}
.foot__conteneuraetspan__span {
  color: white;
}
.foot__conteneuraetspan__lien {
  color: white;
  text-decoration: none;
}
.foot__conteneuraetspan__lien--modifier {
  margin-left: 0.5rem;
}

@media all and (max-width: 600px) {
  .bloc-photo {
    box-shadow: inherit;
    padding: 0;
  }
  .bloc-photo__img {
    border-radius: inherit;
    width: 100%;
    height: 15rem;
    object-fit: cover;
  }

  .principale {
    margin-top: -2rem;
    position: relative;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }
  .principale__cntnr-titre-coeur__coeur-filled:active {
    opacity: 1;
    transform: scale(1);
  }
  .principale__menu:active .principale__menu__cntneur-plat-ing-prix {
    width: 80%;
    cursor: pointer;
  }
  .principale__menu:active .principale__menu__bg {
    left: 80%;
  }
  .principale__menu:active .principale__menu__bg__cercle {
    transform: rotate(180deg);
  }

  .foot {
    display: grid;
    background: #353535;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo" "liste";
  }
  .foot__logo {
    grid-area: logo;
    height: 9rem;
    margin-top: -1rem;
    margin-left: 1.5rem;
  }
  .foot__conteneuraetspan {
    grid-area: liste;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: -1.5rem;
    margin-left: 1.5rem;
    padding-bottom: 3rem;
  }
  .foot__conteneuraetspan__icone-a {
    margin-bottom: 1rem;
    font-weight: bold;
  }
  .foot__conteneuraetspan__span {
    margin-bottom: 1rem;
    color: #FFFFFF;
  }
  .foot__conteneuraetspan__lien {
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 1rem;
  }
  .foot__conteneuraetspan__lien--modifier {
    margin-left: 0.5rem;
  }
}
@media all and (max-width: 340px) {
  .principale__cntnr-titre-coeur {
    margin-left: 0;
    font-size: 0.7rem;
  }
  .principale__cntnr-titre-coeur__coeur-vide {
    font-size: 1.5rem;
    margin-right: 0;
  }
  .principale__cntnr-titre-coeur__coeur-filled {
    font-size: 1.5rem;
    margin-right: 0;
  }
}

/*# sourceMappingURL=style1.css.map */
