body {
  margin: 0;
  padding: 0;
}

@media all and (max-width: 600px) {
  .heading {
    display: flex;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.5fr;
    grid-template-areas: "logo";
  }
  .heading__logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  .heading__retour {
    color: black;
    font-size: 1.3rem;
    margin-top: -3rem;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2rem;
  }
}
.bloc-photo__img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.principale {
  margin-top: -2rem;
  background: #F6F6F6;
  position: relative;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.principale__cntnr-titre-coeur {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1.5rem;
}
.principale__cntnr-titre-coeur > span {
  font-size: 1.5rem;
  margin-right: 2rem;
}
.principale__entree {
  margin-left: 1.5rem;
}
.principale__trait {
  margin-left: 0rem;
  margin-top: 0.2rem;
  width: 2.4rem;
  border: #99E2D0 3px solid;
  background: #99E2D0;
}
.principale__blocparent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.principale__blocparent__menu {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  margin-bottom: 1rem;
  color: black;
  border-radius: 1rem;
  padding-left: 0.5rem;
  width: 90%;
  overflow: hidden;
}
.principale__blocparent__menu__h3para {
  line-height: 0.5;
}
.principale__blocparent__menu__prix {
  display: flex;
}
.principale__blocparent__menu__bg-cercle {
  background: #99E2D0;
  width: 4rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: -4rem;
}
.principale__bouton {
  padding: 1rem;
  width: 14rem;
  border-radius: 2rem;
  margin-left: 5rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  border: none;
  height: 4rem;
  color: #FFFFFF;
  font-size: 1.2rem;
  background: linear-gradient(349deg, #9356DC, #FF79DA);
}
.principale__bouton:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  transition: box-shadow 150ms linear;
}

.foot {
  display: grid;
  background: #353535;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo" "liste";
}
.foot__logo {
  grid-area: logo;
  height: 9rem;
  margin-top: -1rem;
  margin-left: 1.5rem;
}
.foot__conteneuraetspan {
  grid-area: liste;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: -1.5rem;
  margin-left: 1.5rem;
  padding-bottom: 3rem;
}
.foot__conteneuraetspan__icone-a {
  margin-bottom: 1rem;
  font-weight: bold;
}
.foot__conteneuraetspan__span {
  margin-bottom: 1rem;
  color: #FFFFFF;
}
.foot__conteneuraetspan__lien {
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 1rem;
}
.foot__conteneuraetspan__lien--modifier {
  margin-left: 0.5rem;
}

/*# sourceMappingURL=style1.css.map */
