@media all and (max-width:900px) {
    .heading {
        display: grid;
        padding: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "logo search";
    }
}

@media all and (max-width:780px) {
    .principale {
        display: grid;
        &__section2 {
            padding: 1rem;
            &__conteneur-chifretexte {
                width: 100%;
            }
        }
    }
}

@media all and (max-width:600px) {
    .heading {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr;
        grid-template-areas: "logo" "search";
        &__search {
            margin: 0;
            @include centrer-uniqmnt;
            box-shadow: $box-shadow-head;
            &__map {
                @include centrer-uniqmnt;
                @include sup-deco;
                color: black;
            }
            input[type="text"] {
                width: 45%;
            }
        }
        &__logo {
            grid-area: logo;
            margin: 0;
            @include centrer-uniqmnt;
            height: 4.5rem;
        }
    }
    .principale {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1.5fr;
        grid-template-areas: "section1" "section2";
        border-bottom: none;
        background: $bg-corp;
        &__section1 {
            grid-area: section1;
            padding-bottom: 2.5rem;
            @include centrer-et-mettre-en-colone;
            // padding-right: 0.7rem;
            &__titre-reservez {
                font-size: 1.7rem;
            }
            &>p {
                padding: 1rem;
                font-size: 1rem;
                margin-top: -1.5rem;
            }
            &__bouton {
                width: 13rem;
                border-radius: 2rem;
                border: none;
                height: 3rem;
                color: $white-color;
                font-size: 1rem;
                background: linear-gradient( 349deg, $color-primary, $color-second);
                &:hover {
                    box-shadow: $box-shadow-carte;
                    transition: box-shadow 150ms linear;
                }
            }
        }
        &__section2 {
            background: $white-color;
            grid-area: section2;
            padding: 1rem;
            box-shadow: none;
            @include centrer-et-mettre-en-colone;
            padding-bottom: 2.5rem;
            &__titre-foncmnt {
                margin-left: -8.5rem;
                margin-top: 2.5rem;
                font-size: 1.7rem;
            }
            &__conteneur-chifretexte {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border: none;
                background: $bg-corp;
                box-shadow: $box-shadow-carte;
                border-radius: 1.5rem;
                width: 100%;
                margin-left: 0.8rem;
                &>span {
                    margin-left: 1rem;
                    margin-top: 2.3rem;
                }
                &__item {
                    font-size: 1.2rem;
                    margin-bottom: 2rem;
                    &--chiffre {
                        background: $color-primary;
                        text-align: center;
                        height: 1.5rem;
                        width: 1.5rem;
                        border-radius: 100%;
                        margin-left: -0.75rem;
                        font-size: 1rem;
                        line-height: 1.5;
                        margin-top: 2.2rem;
                    }
                    &--texte {
                        font-weight: bold;
                        margin-left: 1.5rem;
                        margin-top: 2.3rem;
                    }
                    &--store {
                        color: $color-primary;
                    }
                }
            }
        }
    }
    .section-photo {
        max-width: 960px;
        margin: auto;
        @include centrer-et-mettre-en-colone;
        flex-wrap: wrap;
        background: $bg-corp;
        &__titre {
            width: 50%;
            text-align: inherit;
            padding: 0;
            font-weight: bold;
            margin-top: 3.5rem;
            margin-left: -9.5rem;
        }
        &__bloca {
            display: block;
            display: flex;
            flex-direction: column;
            width: 90%;
            position: relative;
            &>img {
                width: 100%;
                height: 10rem;
                object-fit: cover;
                @include border-radius-img;
            }
            &__conteneur-textecoeur {
                display: flex;
                justify-content: space-between;
                &__coeur-filled {
                    &:active {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
                &__texte {
                    color: #353535;
                    &>p {
                        margin-top: -1.2rem;
                    }
                    &>h3 {
                        color: black;
                    }
                }
            }
        }
    }
    .foot {
        display: grid;
        background: $bg-footer;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "logo" "liste";
        &__logo {
            grid-area: logo;
            height: 9rem;
            margin-top: -1rem;
            margin-left: 1.5rem;
        }
        &__conteneuraetspan {
            grid-area: liste;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            margin-top: -1.5rem;
            margin-left: 1.5rem;
            padding-bottom: 3rem;
            &__icone-a {
                margin-bottom: 1rem;
                font-weight: bold;
            }
            &__span {
                margin-bottom: 1rem;
            }
            &__lien {
                color: white;
                text-decoration: none;
                margin-bottom: 1rem;
                &--modifier {
                    margin-left: 0.5rem;
                }
            }
        }
    }
}

@media all and (max-width:360px) {
    .loader {
        &__img {
            opacity: 0;
        }
    }
    .principale {
        &__section2 {
            &__titre-foncmnt {
                margin-left: 0;
                @include centrer-uniqmnt;
            }
        }
    }
    .section-photo {
        &__titre {
            margin-left: 0;
            @include centrer-uniqmnt;
        }
        &__bloca {
            &__conteneur-textecoeur {
                width: 100%;
                margin-left: 0;
                &__texte {
                    &>p {
                        font-size: 1rem;
                        margin-top: 0;
                    }
                    &>h3 {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media all and (max-width:360px) {
    .heading {
        &__logo {
            justify-content: inherit;
            &>img {
                width: 100%;
            }
        }
        &__search {
            justify-content: inherit;
        }
    }
    .principale {
        &__section1 {
            justify-content: inherit;
            text-align: inherit;
            &__titre-reservez {
                transform: translateX(-3rem);
                display: flex;
                flex-wrap: wrap;
                width: 54%;
            }
            &>p {
                padding-left: 0;
                margin-left: -2rem;
                width: 76%;
                font-size: 1rem;
            }
            &__bouton {
                width: 50%;
                transform: translateX(-3rem);
            }
        }
        &__section2 {
            &__titre-foncmnt {
                font-size: 1.10rem;
            }
            &__conteneur-chifretexte {
                height: 15rem;
                flex-direction: column;
                &>span {
                    margin-top: -0.7rem;
                    margin-left: -0.7rem;
                }
                &__item {
                    font-size: 1rem;
                    margin-bottom: 2rem;
                    &--chiffre {
                        margin-top: -0.8rem;
                    }
                    &--texte {
                        font-weight: bold;
                        margin-left: 1.5rem;
                        margin-top: 2.3rem;
                    }
                    &--store {
                        color: $color-primary;
                    }
                }
            }
        }
    }
}

@media all and (max-width:220px) {
    .principale {
        &__section1 {
            &__titre-reservez {
                transform: translateX(-2rem);
                width: 40%;
            }
            &>p {
                margin-left: -3.5rem;
                width: 46%;
                font-size: 0.7rem;
            }
            &__bouton {
                width: 70%;
                transform: translateX(-1.5rem);
                height: 5rem;
            }
        }
        &__section2 {
            padding: 0;
            &__titre-foncmnt {
                margin-left: -1rem;
            }
            &__conteneur-chifretexte {
                height: 10rem;
                margin-left: -1rem;
                &__item {
                    font-size: 1rem;
                    margin-bottom: 2rem;
                    &--chiffre {
                        margin-top: -0.8rem;
                    }
                    &--texte {
                        margin-top: 2.3rem;
                    }
                    &--store {
                        color: $color-primary;
                    }
                }
            }
        }
    }
    .section-photo {
        &__titre {
            margin-left: -1rem;
        }
        &__bloca {
            width: 80%;
            &__conteneur-textecoeur {
                width: 100%;
                justify-content: inherit;
                flex-direction: column;
                &__texte {
                    &>p {
                        font-size: 1rem;
                        margin-top: 0;
                    }
                    &>h3 {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    .foot {
        &__logo {
            display: block;
            width: 100%;
            margin-left: 0;
        }
        &__conteneuraetspan {
            margin-left: 0.5rem;
        }
    }
}